<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <tr class="nav-item nav-category">Main Menu</tr><br>&emsp;&emsp;
        <tr class="nav-item">
            <a class="nav-link" href="/master-accounts-post">
                <i class="menu-icon typcn typcn-document-text"></i>
                <colspan class="menu-title">종합계좌개설</colspan>&emsp;
            </a>
        </tr>
         <tr class="nav-item">
            <a class="nav-link" href="/master-accounts">
                <i class="menu-icon typcn typcn-document-text"></i>
                <colspan class="menu-title">종합계좌조회</colspan>&emsp;
            </a>
        </tr>
        <tr class="nav-item">
            <a class="nav-link" href="/sub-accounts-post">
                <i class="menu-icon typcn typcn-bell"></i>
                <colspan class="menu-title">개별계좌개설</colspan>&emsp;
            </a>
        </tr>
        <tr class="nav-item">
            <a class="nav-link" href="/sub-accounts">
                <i class="menu-icon typcn typcn-document-text"></i>
                <colspan class="menu-title">개별계좌조회</colspan>&emsp;
            </a>
        </tr>        
    </ul>
</nav>