<!DOCTYPE html>
<html lang="en">
<head>
<title>오류</title>
<% include ./_helpers/html_header %>
</head>
<body>
	<div class="container">
		<h2><%= message %> (<%= code %>)</h2> </br></br>
		<p/>	
		<hr>
		<P align=center>
            <button class="btn btn-success" id="btn1">돌아가기</button>
        </P>
	</div>

<script>
$( function() {	
	$("#btn1").off().on( "click", () => {
        location.href="<%= returnurl %>";
	});	
});
</script>
</body>
</html>
