<!DOCTYPE html>
<html lang="en">
<head>
<title>종합 계좌 개설</title>
<% include ../_helpers/html_header %>
<style>
.form-group label {
    width: 30%;
}
</style>
</head>
<body>
	<div class="container-fluid page-body-wrapper">
		<%- include('../partials/sidebar') %>
		<div class="container">
			<h2><center>종합 계좌 정보 조회</center></h2> 
			<p/>	
			<form method="POST" action="/master-accounts">
				<div class="form-group">
					<hr>
					<hr>

<!--					<label for="type">조회구분:</label> -->
					<div>	<input type="radio" id="type" name ="type" value="1" checked>실명번호
							<input type="radio" id="type" name ="type"value="2">종합계좌번호</div>
<!--				<input type="int" class="form-control" id="type" name="type" value="<%= type %>"> -->	
					<input type="text" class="form-control" id="no" name="no" value="<%= no %>">
					<button class="btn btn-success" id="btn1">조회</button>
<!--					<button class="btn btn-success" id="btn3">종합계좌개설</button>
						<button class="btn btn-success" id="btn5">개별계좌조회</button>
-->
</p>

				<table class="table">
						<thead>
						<tr>
							<th>일련번호</th>
							<th>계좌번호</th>
							<th>계좌이름</th>
							<th>비밀번호</th>
							<th>투자자코드</th>
							<th>실명번호</th>
						</tr>
						</thead>
						<tbody>
							<% if(mode!="init") { %>
							<% masterlist.forEach(function (item,index){ %>
								<tr>
									<td><%= item.id %></td>
									<td><%= item.accountNumber %></td>
									<td><%= item.accountName %></td>
									<td><%= item.password %></td>
									<td><%= item.investmentCode %></td>
									<td><%= item.rmnNo %></td>
								</tr>
							<% }) %>
							<% } %>
						</tbody>
					</table>
					<p><%= message %></p>
				
				</div>  
			</form>
		</div>
	</div>

<script>
$( function() {
 
	//enter 처리
	$("#type").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#type").focus();
		}
	});
	$("#no").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#no").focus();
		}
	});
	
	$("#btn1").off().on( "click", () => {
       // document.forms[0].Action = "/master-accounts";
		document.forms[0].submit();
	});	
/*
	$("#btn3").off().on( "click", () => {
	   // document.forms[0].Action = "/master-accounts";
	    
		location.href="/master-accounts-post";
		return false;
	});
	$("#btn5").off().on( "click", () => {
	   // document.forms[0].Action = "/master-accounts";
	    
		location.href="/sub-accounts";
		return false;
	});
*/
});
</script>
</body>
</html>
