<!DOCTYPE html>
<html lang="en">
<head>
<title>종합계좌개설</title>
<% include ../_helpers/html_header %>

<style>
.form-group label {
    width: 30%;
}
</style>
</head>
<body>
	<%
		let accountNo = "";
		try {
			accountNo =  accountNumber;
		} catch(e) {}

		let messageT = "";
		try {
			messageT =  message;
		} catch(e) {}
	%>
	<div class="container-fluid page-body-wrapper">
		<%- include('../partials/sidebar') %>
	
		<div class="container">
			<h2>종합계좌 개설 정보입력</h2> 
			<p/>	
			<form method="POST" action="/master-accounts-post">
				<div class="form-group">
					<hr>
					<hr>  
					<label>실명번호:</label> 
					<input type="text" class="form-control" id="rmnNo" name="rmnNo" value="<%= rmnNo %>"><br><br>
					<label>계좌명:</label>
					<input type="text" class="form-control" id="accountName" name="accountName" value="<%= accountName %>"><br><br>
					<label>비밀번호:</label> 
					<input type="text" class="form-control" id="password" name="password" value="<%= password %>"><br><br>
				</div>      
			</form>
			<P align=center>
				<button class="btn btn-success" id="btn1">개설처리</button>&nbsp;
			</P>
			<p>
				<% if(accountNo != "") { %>
				<label>종합계좌번호:</label> <%= accountNo %>
				<% } %>
				<br><br><%= messageT %>

			</p>	
		</div>		
	</div>



<script>
$( function() {
 	//enter 처리
/*
	$("#rmnNo").off().on("keypress", (event) => {
		//실명번호 정규식 확인 

		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#rmnno").focus();
		}

	});
*/
	$("#rmnNo").off().on("blur", (event) => {
		//실명번호 정규식 확인 
		var value = $("#rmnNo").val();
		var rmnNoJ=/^(?:[0-9]{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[1,2][0-9]|3[0,1]))-?[1-4][0-9]{6}$/;

        if(rmnNoJ.test(value)) {
			alert("정상입니다.");
      	} else {
			alert("올바르지 않은 주민등록번호 입니다. 다시 입력하세요." + value);
		}
	});


	$("#accountName").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#accountname").focus();
		}
	});
	$("#password").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#password").focus();
		}
	});

	//Login
	$("#btn1").off().on( "click", () => {
 //       document.forms[0].Action = "/master-accounts-post";
		document.forms[0].submit();
	});	

});

</script>
</body>
</html>
