<!DOCTYPE html>
<html lang="en">
<head>
<title>개별 계좌 개설</title>
<% include ../_helpers/html_header %>
</head>
<div class="container-fluid page-body-wrapper">
		<%- include('../partials/sidebar') %>
	<div class="container">
		<h2><center>개별 계좌 정보 조회</center></h2> 
		<p/>	
		<form method="POST" action="/sub-accounts">
			<div class="form-group">
				<hr>
				<hr>

				<div>	<input type="radio" id="type" name ="type" value="1" checked>실명번호
						<input type="radio" id="type" name ="type"value="2">종합계좌번호
						<input type="radio" id="type" name ="type"value="3">개별계좌번호</div>
				<input type="text" class="form-control" id="no" name="no" value="<%= no %>"> <br><br>
				<button class="btn btn-success" id="btn1">조회</button>
<!--				<button class="btn btn-success" id="btn3">개별계좌개설</button>
				<button class="btn btn-success" id="btn5">종합계좌조회</button>
-->				
			</p>

			<table class="table">
					<thead>
					<tr>
						<th>일련번호</th>
						<th>계좌번호</th>
						<th>계좌이름</th>
						<th>상품구분</th>
						<th>거래세원천징수여부</th>
						<th>증거금징수여부</th>
						<th>종합계좌번호</th>
						<th>종합계좌ID</th>
					</tr>
					</thead>
					<tbody>
							<% if(mode!="init") { %>
							<% sublist.forEach(function (item,index){ %>
								<tr>
									<td><%= item.id %></td>
									<td><%= item.accountNumber %></td>
									<td><%= item.accountName %></td>
									<td><%= item.type %></td>
									<td><%= item.tradingTax %></td>
									<td><%= item.isPreMargin %></td>
									<td><%= item.masterAccountNumber %></td>
									<td><%= item.masterAccountId %></td>
								</tr>
							<% }) %>
							<% } %>
						</tbody>
					</table>
					<p><%= message %></p>
			
			</div>		
		</form>
	</div>
</div>

<script>
$( function() {

	//enter 처리
	$("#type").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#type").focus();
		}
	});
	$("#no").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#no").focus();
		}
	});
	//Login
	$("#btn1").off().on( "click", () => {
		//	document.forms[0].Action = "/sub-accounts";
		document.forms[0].submit();
	});
/*	$("#btn3").off().on( "click", () => {
       // document.forms[0].Action = "/sub-accounts";
		location.href="/sub-accounts-post";
		return false;
	});
	$("#btn5").off().on( "click", () => {
       // document.forms[0].Action = "/sub-accounts";
		location.href="/master-accounts";
		return false;
	});
*/
});
</script>
</body>
</html>
