<!DOCTYPE html>
<html lang="en">
<head>
<title>개별 계좌 개설</title>
<% include ../_helpers/html_header %>
</head>
<body>
		<%
		let accountNo = "";
		try {
			accountNo =  accountNumber;
		} catch(e) {}

		let messageT = "";
		try {
			messageT =  message;
		} catch(e) {}
	%>
	<div class="container-fluid page-body-wrapper">
			<%- include('../partials/sidebar') %>
			<div class="container">
			<h2>개별계좌 개설 정보입력</h2> 
			<p/>	
			<form method="POST" Action="/sub-accounts-post">
				<div class="form-group">
					<hr>
					<hr>

					<label>종합계좌번호:</label> 
					<input type="text" class="form-control" id="masterAccountNumber" name="masterAccountNumber" value="<%= masterAccountNumber %>"> <br><br>
					<label>계좌명:</label> 
					<input type="text" class="form-control" id="accountName" name="accountName" value="<%= accountName %>"> <br><br>
					<label>상품구분:</label> 
						<input type="radio" id="type" name="type"  value="01" checked>위탁자&emsp;
						<input type="radio" id="type" name="type"  value="02">저축자<br><br>
					<label>거래세원천징수여부:</label> 
						<input type="radio" id="tradingTax" name="tradingTax"  value="0" checked>징수&emsp;
						<input type="radio" id="tradingTax" name="tradingTax"  value="1">미징수<br><br>
					<label>증거금징수여부:</label> 
						<input type="radio" id="isPreMargin" name="isPreMargin"  value="0" checked>과세&emsp;
						<input type="radio" id="isPreMargin" name="isPreMargin"  value="1">미과세<br><br>
				</div>
			</form>
			<hr>
			<P align=center>
				<button class="btn btn-success" id="btn1">개설처리</button>	&nbsp;
<!--			<button class="btn btn-success" id="btn3">개별계좌조회</button>
-->
			</P>
			<p>
					<% if(accountNo != "") { %>
					<label>종합계좌번호:</label> <%= accountNo %>
					<% } %>
					<br><br><%= messageT %>	
				</p>	
		</div>
	</div>
<script>
$( function() {
	//동의여부 값 셋팅
	//enter 처리
	$("#masterAccountNumber").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#masterAccountNumber").focus();
		}
	});
	$("#accountName").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#accountName").focus();
		}
	});
	$("#type").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#type").focus();
		}
	});
	$("#tradingTax").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#tradingTax").focus();
		}
	});
	$("#isPreMargin").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#isPreMargin").focus();
		}
	});

	//버튼처리
	$("#btn1").off().on( "click", () => {
//        document.forms[0].Action = "/sub-accounts-post";
		document.forms[0].submit();
	});	
/*	$("#btn3").off().on( "click", () => {
		location.href="/sub-accounts";
	});	
*/

});
</script>
</body>
</html>
